<style>
.customSearchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.customSearchBox:hover > .customSearchInput {
    width: 240px;
    padding: 0 6px;
}

.customSearchBox:hover > .customSearchButton {
  background: white;
  color : #2f3640;
}

.customSearchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.customSearchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
</style>

<search-bar>
       <div class="customSearchBox">
            <input class="customSearchInput"type="text" name="" placeholder="Search">
            <button class="customSearchButton" href="#">
            </button>
        </div>
</search-bar>