{%- style -%}
{%- endstyle -%}
<button type="button" class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet</p>
</div>
  {% schema %}
  {
    "name": "Collapsible Page Break",
    "tag": "section",
    "class": "section"
  }
  {%- endschema -%}