
<style>
    .new-arrival-title{
        align-self:start;
        font-size:4rem;
        font-weight: 200;
        line-height: 1.15;
        color: #545454;
        padding-left:1.5%;
        padding-bottom:10px;
        padding-top:20px;
        
    }
    .new-arrival-grid-container{
        justify-content: center;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }

    .product-container {
        display: flex;
        overflow-x: scroll;
        gap: 1em;
        width:97%;
    }
    .product-container::-webkit-scrollbar{
        height: 1vh;
    }
    .product-container::-webkit-scrollbar-track {
        background-color: #ebebeb;
        border-radius: 10px;
        margin: 0 10vw 0 10vw;
    }
    .product-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #6d6d6d; 
    }
    .new-arrival-item{
        display:flex;
        justify-content:center;
        padding-bottom: 10px;
        width:100%;
        flex: 1 0 24%;
    }
    .new-arrival-view-all{
        padding-top:5px !important;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .collection-list-left-arrow{
        padding: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
        background-color:#fff;
        margin-top:2px;
    }
    .collection-list-right-arrow{
        padding: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background-color:#fff;
        margin-top:2px;
    }
    .new-arrival-grid-container::-webkit-scrollbar{
        height: 1vh;
    }
    .new-arrival-grid-container::-webkit-scrollbar-track {
        background-color: #ebebeb;
        border-radius: 10px;
        margin: 0 10vw 0 10vw;
    }
    .new-arrival-grid-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #6d6d6d; 
    }
    @media only screen and (max-width:739px){
        .new-arrival-item {
            flex: 1 0 46%;
        }
    }
    @media only screen and (min-width:740px){
    }
</style>

    {% for collection in product.collections %}
        {% assign title = collection.title | upcase %}
        {% if title == product.vendor %}
            {% assign page_collection = collection %}
        {% endif %}
    {% endfor %}

    {% assign meta_type = product.metafields.custom.type.value %}

    {% assign meta_gender = product.metafields.custom.Whowearsit %}

    {% assign meta_apparel = product.metafields.custom.apparel.value %}

    <div class="new-arrival-grid-container">
        <div class="new-arrival-title">
            <h1> Shop More {{product.vendor}} </h1>
        </div>
        <div class = "product-container">
            {% assign count = 0 %}        
            {%for grid_product in page_collection.products limit: page_collection.products.size %}
                {%  if count == section.settings.product_limit_desktop %}
                    {% break %}
                {% endif %}

                {% if product.title == grid_product.title %}
                    {% continue %}
                {% endif %}

                {% for item in grid_product.metafields.custom.Whowearsit.value%}
                    {% assign grid_product_type = grid_product.metafields.custom.type.value %}
                    {% if meta_gender.value contains item and meta_type == grid_product_type%}
                        <div class="new-arrival-item" id="new-arrival-item">
                            {%render 'new-arrival-card', card_product: grid_product %}
                        </div>
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {%endfor%}
        
            {% if count == 0 %}
                {%for grid_product in page_collection.products limit: page_collection.products.size %}
                    {%  if count == section.settings.product_limit_desktop %}
                        {% break %}
                    {% endif %}

                    {% if product.title == grid_product.title %}
                        {% continue %}
                    {% endif %}

                    {% for item in grid_product.metafields.custom.apparel.value%}
                        {% if meta_apparel contains item%}
                            <div class="new-arrival-item" id="new-arrival-item">
                                {%render 'new-arrival-card', card_product: grid_product %}
                            </div>
                            {% assign count = count | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                {%endfor%}

            {% endif %}    
        </div>
    </div>
    <div class="new-arrival-view-all">
        {%render 'primary-button', button_content:"View All", button_link:page_collection.url %}
    </div>

<script>
    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');
    var slider = document.getElementById("xxl-row");
    var card_width = document.getElementById("new-arrival-item").offsetWidth * 2;
    var container_width = document.getElementById("xxl-row").offsetWidth / 4;
    
        buttonRight.onclick = function() {
            sideScroll(slider,'right',card_width,8);
        };
        
        buttonLeft.onclick = function () {
            sideScroll(slider,'left',card_width,8);
        };

        function sideScroll(element,direction,distance,step){
            scrollAmount = 0;
            var slideTimer = setInterval(function(){
                if(direction == 'left'){
                    element.scrollLeft -= step;
                } else {
                    element.scrollLeft += step;
                }
                scrollAmount += step;
                if(scrollAmount >= distance){
                    window.clearInterval(slideTimer);
                }
            });
        }
</script>

{% schema %}
    {
        "name": "Product Page Carousel",
        "tag": "section",
        "class": "section-new-arrival-carousel",
        "settings": [
            {
            "type": "collection",
            "id": "collection",
            "label": "collection"
            },
            {
            "type": "text",
            "id": "title",
            "default": "Featured collection",
            "label": "Title"
            },
            {
            "type": "range",
            "id": "product_limit_desktop",
            "min": 4,
            "max": 16,
            "step": 1,
            "default": 8,
            "label": "Number of products displayed"
            }
        ],
        "presets": [
            {
            "name": "Product Page Carousel"
            }
        ]
    }
{% endschema %}