
<style>
    .new-arrival-title{
        align-self:start;
        font-size:4rem;
        font-weight: 200;
        line-height: 1.15;
        color: #545454;
        padding-left:1.5%;
        padding-bottom:10px;
        padding-top:20px;
        
    }
    .new-arrival-grid-container{
        justify-content: center;
        padding-bottom:20px;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }
    
    
    .xxl-row{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 1em;
        width:97%;

    }

    .xxl-row{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 1em;
        width:97%;

    }
    .new-arrival-item{
        display:flex;
        justify-content:center;
        width:100%;
        flex: 1 0 24%;
    }
    .mobile-row{
        display:none;
    }
    .new-arrival-view-all{
        padding-top:10px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .collection-list-left-arrow{
        padding: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
        background-color:#fff;
        margin-top:2px;
      }
      .collection-list-right-arrow{
        padding: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background-color:#fff;
        margin-top:2px;
      }
    @media only screen and (max-width:739px){
        .xxl-row{
            display:none;
        }
        .mobile-row{
            display: grid;
            grid-template-columns: repeat(1, 3fr);
            gap: 1em;
            width:80%;
        }

        .new-arrival-title{
            align-self:center;
            justify-content: center;
            padding-left:0;
            padding-bottom:10px;
        }
        .new-arrival-grid-container{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: center;
        }
        .collection-list-left-arrow{
            display: none;
          }
          .collection-list-right-arrow{
            display: none;
          }
    }
    @media only screen and (min-width:740px){
        .xxl-row{
            display: flex;
            overflow-x: scroll;
            gap: 1em;
        }
        .xxl-row::-webkit-scrollbar{
        display:none;
        }
    }
</style>

    {% for collection in product.collections %}
        {% assign title = collection.title | upcase %}
        {% if title == product.vendor %}
            {% assign page_collection = collection %}
        {% endif %}
    {% endfor %}

    {% assign meta_type = product.metafields.custom.type.value %}

    {% assign meta_gender = product.metafields.custom.Whowearsit %}

    {% assign meta_apparel = product.metafields.custom.apparel.value %}

    <div class="new-arrival-grid-container">
        <div class="new-arrival-title">
            <h1> Shop More {{product.vendor}} </h1>
        </div>
    <div class = "xxl-row" id="xxl-row">
    {% assign count = 0 %}        
    {%for grid_product in page_collection.products limit: page_collection.products.size %}
        {%  if count == section.settings.product_limit_desktop %}
            {% break %}
        {% endif %}

        {% if product.title == grid_product.title %}
            {% continue %}
        {% endif %}

        {% for item in grid_product.metafields.custom.Whowearsit.value%}
            {% assign grid_product_type = grid_product.metafields.custom.type.value %}
            {% if meta_gender.value contains item and meta_type == grid_product_type%}
                <div class="new-arrival-item" id="new-arrival-item">
                    {%render 'new-arrival-card', card_product: grid_product %}
                </div>
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
    {%endfor%}
    
    {% if count == 0 %}
        {%for grid_product in page_collection.products limit: page_collection.products.size %}
        {%  if count == section.settings.product_limit_desktop %}
            {% break %}
        {% endif %}

        {% if product.title == grid_product.title %}
            {% continue %}
        {% endif %}

        {% for item in grid_product.metafields.custom.apparel.value%}
            {% if meta_apparel contains item%}
                <div class="new-arrival-item" id="new-arrival-item">
                    {%render 'new-arrival-card', card_product: grid_product %}
                </div>
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
    {%endfor%}

    {% endif %}
        
    </div>

    <div class = "mobile-row">
        {% assign count = 0 %} 
        {%for grid_product in page_collection.products limit: page_collection.products.size %}

            {%  if count == section.settings.product_limit_mobile %}
                {% break %}
            {% endif %}

            {% if product.title == grid_product.title %}
                {% continue %}
            {% endif %}
            {% for item in grid_product.metafields.custom.Whowearsit.value%}
                {% assign grid_product_type = grid_product.metafields.custom.type.value %}
                {% if meta_gender.value contains item and meta_type == grid_product_type%}
                    <div class="new-arrival-item">
                        {%render 'new-arrival-card', card_product: grid_product %}
                    </div>
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endfor %}
        {%endfor%}
        
        {% if count == 0 %}
            {%for grid_product in page_collection.products limit: page_collection.products.size %}
                {%  if count == section.settings.product_limit_mobile %}
                    {% break %}
                {% endif %}
    
                {% if product.title == grid_product.title %}
                    {% continue %}
                {% endif %}
    
                {% for item in grid_product.metafields.custom.apparel.value%}
                    {% if meta_apparel contains item%}
                        <div class="new-arrival-item" id="new-arrival-item">
                            {%render 'new-arrival-card', card_product: grid_product %}
                        </div>
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {%endfor%}
        {% endif %}      
    </div>

    <div class="new-arrival-view-all">
        
        <button id="slideLeft" type="button" class = "collection-list-left-arrow"></button>

         {%render 'primary-button', button_content:"View All", button_link:page_collection.url %}

        <button id="slideRight" type="button" class = "collection-list-right-arrow"></button>
    </div>
    </div>

<script>
    const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');
    var slider = document.getElementById("xxl-row");
    var card_width = document.getElementById("new-arrival-item").offsetWidth * 2;
    var container_width = document.getElementById("xxl-row").offsetWidth / 4;
    
        buttonRight.onclick = function() {
            sideScroll(slider,'right',card_width,8);
        };
        
        buttonLeft.onclick = function () {
            sideScroll(slider,'left',card_width,8);
        };

        function sideScroll(element,direction,distance,step){
            scrollAmount = 0;
            var slideTimer = setInterval(function(){
                if(direction == 'left'){
                    element.scrollLeft -= step;
                } else {
                    element.scrollLeft += step;
                }
                scrollAmount += step;
                if(scrollAmount >= distance){
                    window.clearInterval(slideTimer);
                }
            });
        }
</script>

{% schema %}
    {
        "name": "Product Page Grid",
        "tag": "section",
        "class": "section-new-arrival-grid",
        "settings": [
            {
            "type": "collection",
            "id": "collection",
            "label": "collection"
            },
            {
            "type": "text",
            "id": "title",
            "default": "Featured collection",
            "label": "Title"
            },
            {
            "type": "range",
            "id": "product_limit_desktop",
            "min": 4,
            "max": 12,
            "step": 1,
            "default": 8,
            "label": "Products display on desktop"
            },
            {
            "type": "range",
            "id": "product_limit_mobile",
            "min": 2,
            "max": 8,
            "step": 1,
            "default": 4,
            "label": "Products displayed on mobile"
            }
        ],
        "presets": [
            {
            "name": "Product Page Grid"
            }
        ]
    }
{% endschema %}