<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
{% style%}

.navbar {
  background: #D9D9D9;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s;
}
.searchButton{

}
.navbar:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.navbar__link {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-in-out;
}
.navbar__link:hover .navbar__icon {
  color: #e022bb;
  transform: translateY(0) scale(0.9);
}
.navbar__link:hover .navbar__icon::before {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.navbar__link:hover .navbar__label {
  transform: translateY(0);
}
.navbar__icon {
  color: #333;
  transform: translateY(15px);
  transition: 0.3s cubic-bezier(0.09, 0.79, 0.57, 0.89);
  position: relative;
}
.navbar__icon::before {
  content: "";
  width: 45px;
  height: 45px;
  background: rgba(224, 34, 187, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: 0.3s;
}
.navbar__label {
  display: block;
  margin-top: 10px;
  font-family: "Roboto Mono", sans-serif;
  color: #e022bb;
  position: relative;
  bottom: 0;
  font-size: 0.9375rem;
  transform: translateY(200%);
  transition: 0.3s cubic-bezier(0.09, 0.79, 0.57, 0.89);
  transition-delay: 0.2s;
}

{%endstyle%}

<nav class="navbar">
  <a href="#" class="navbar__link">
    <span class="navbar__icon">
      <span data-feather="home"></span>
    </span>
    <span class="navbar__label">Home</span>
  </a>

  <a href="#" class="navbar__link">
    <span class="navbar__icon">
      <span data-feather="clipboard"></span>
    </span>
    <span class="navbar__label">Work</span>
  </a>

  <a href="#" class="navbar__link">
    <span class="navbar__icon">
      <span data-feather="user"></span>
    </span>
    <span class="navbar__label">User</span>
  </a>

  <a href="#" class="navbar__link">
    <span class="navbar__icon">
      <span data-feather="shopping-cart"></span>
    </span>
    <span class="navbar__label">Cart</span>
  </a>
    <span class="searchButton">
      <span data-feather="search"></span>
    </span>
</nav>

<script>
  feather.replace()
</script>

{% schema %}
{
    "name": "Real Header",
    "tag": "section",
    "class": "section",
    "settings": [

    ],
    "presets": [
      {
        "name": "custom-header",
        "category": "Custom"
      }
    ]
}

{%endschema%}