<style>
    .designer-list-title{
        padding-left:1rem; 
    }
    .designer-list{
        width:100%;
        justify-content:center;
        display:flex;
    }
    .designer-wrapper{
        width: 95%;
        column-width:250px; /* set the width of columns and the number will be automatic */
        column-gap: 20px;
    }
    .designer-category{
        display:flex;
        padding: 5px;
    }
    .designer-group{
    }
    .list{
        list-style-type: none;
    }
    .designer-name a{
        display: inline-block;
        position: relative;
        font-size:1.5rem ;
        text-decoration:none;
        color:#545454;
    }

    .designer-name a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #545454;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .designer-name a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

</style>

<h1 class="designer-list-title">Featured Brands</h1>
<div class="designer-list">
    <div class="designer-wrapper">
        {%for link in section.settings.menu_designers.links%}
            {% if link.links.size > 0 %}
                <div class="designer-category">
                    <p class="designer-group" >{{link.title}} </p>
                    <ul class="list">
                        {% for child_link in link.links %}
                            <li class="designer-name" > <a href="{{child_link.url}}"> {{child_link.title}} </a> </li> 
                        {% endfor %}
                    </ul>
                </div>
            {%endif%}
        {% endfor %}
    </div>
</div>

<script>

</script>

{% schema %}
    {
        "name": "Designer list",
        "tag": "section",
        "class": "section-Designer-list",
        "settings": [
            {
                "type": "link_list",
                "id": "menu_designers",
                "label": "Designers"
              }
        ],
        "presets": [
            {
            "name": "Designer List" 
            }
        ]
    }
{% endschema %}