<style>

    /* container */
    .featured-designers{
        justify-content: center;
        display: flex;
        margin: 20px 0px 30px;
    }

    .brand-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px 20px;
        width: 90%;
    }

    .brand-wrapper:hover .brand-card img{
        opacity: 0.25;
        transition: transform .2s ease-in-out; /* Animation */
    }

    .brand-card:hover a img{
        opacity: 1 !important;
        transform: scale(1.2) !important; /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .brand-card{
        display:flex;
        align-items: center;
    }

    /* picture */
    .designer{
        height: auto;
        width: 100%;
    }


    @media only screen and (max-width: 990px){
        .brand-wrapper{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media only screen and (max-width: 700px){
        .brand-wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }
    
</style>
<div class="featured-designers">
    <div class="brand-wrapper">
        {%-for block in section.blocks -%}
            <div class="brand-card">
                <a href="{{ block.settings.brand_link }}"> <img class="designer" src= "{{ block.settings.designer_img | img_url: '1200x' }} "/> </a>
            </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
    {
        "name": "Featured Designers",
        "tag": "section",
        "class": "section-Designer-featured",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_one",
                "label": "designer_1" 
            }
        ],
        "blocks": [
            {
              "type": "featured_designer",
              "name": "Featured-designer",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "designer_img",
                  "label": "Designer Image"
                },
                {
                    "type": "url",
                    "id": "brand_link",
                    "label": "Brand Page"
                }
              ]
            }
          ],
        "presets": [
            {
            "name": "Featured Designers" 
            }
        ]
    }
{% endschema %}