<style>
</style>

<div>
Brands, brands and More Brands
</div>
{% schema %}
    {
        "name": "Designer list",
        "tag": "section",
        "class": "section-Designer-list",
        "settings": [
            
        ],
        "presets": [
            {
            "name": "Designer List"
            }
        ]
    }
{% endschema %}