<style>
    .featured-release-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .featured-release-image-container{
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:left;
    }
    .featured-release-image-container img{
        width:90%;
    }
    .featured-release-content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:10px;
    }
    .featured-release-title{
        font-size:2rem;
        text-wrap:
    }
    .featured-release-excerpt{

    }
    .featured-release-body{
        font-size:1.5rem;
    }
     @media only screen and (min-width:739px){
        .featured-release-container{
            flex-direction:row;
        }
        .featured-release-content{
            width:80%;
            text-align: center;
        }
         .featured-release-title{
            font-size: 3rem;
         }
     }

</style>
<div class= "featured-release-container">
    <div class="featured-release-image-container">
        <img src="{{ section.settings.article.image.src | image_url: width: 833 }}">
    </div>
    <div class ="featured-release-content"> 
        <div class="featured-release-title">{{section.settings.article.title}}</div>
            {% if section.settings.is_released%}
                 {%render 'primary-button', button_content:"Buy Now", button_link:section.settings.product_link %}
            {% else %}
                <div class="featured-release-body">{{section.settings.article.content}} </div>
            {% endif %}
    </div>

</div>

{% schema %}
{
  "name": "Featured Release",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "heading",
      "label": "heading"
    },
    {
      "type": "article",
      "id": "article",
      "label": "article"
    },
    {
      "type": "url",
      "id": "product_link",
      "label": "Button link"
    },
    {
    "type": "checkbox",
    "id": "is_released",
    "default": false,
    "label": "Is it available"
    }
  ],
  "presets": [
            {
            "name": "Featured Release"
            }
        ]
}
{%endschema%}