{%- style -%}

.info-card-container {
	 display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 1rem;
	 justify-content: center;
	 align-items: center;
	 padding: 50px;
}
 .Infocard {
	 width: 100%;
	 height: auto;
	 overflow: hidden;
	 cursor: pointer;
	 position: relative;
     background: none;
     justify-content: center;
}
 .Infocard img {
	 object-fit: fill;
	 width: 100%;
	 height: auto;
	 top: 0;
	 left: 0;
	 opacity: 0.9;
	 transition: opacity 0.2s ease-out;
}
 .Infocard h2 {
	 position: absolute;
	 inset: auto auto 5rem 3rem;
     padding_bottom:1rem;
	 margin: 0;
	 transition: inset 0.3s 0.3s ease-out;
	 font-weight: normal;
     color: #ffffff;
	 text-transform: uppercase;
}
 .Infocard p, .Infocard a {
	 position: absolute;
	 opacity: 0;
     color: #ffffff;   
	 max-width: 80%;
	 transition: opacity 0.3s ease-out;
}
 .Infocard p {
	 inset: auto auto 10rem 3rem;
     text-align: left;
}
 .Infocard a {
	 inset: auto auto 40px 30px;
	 color: inherit;
	 text-decoration: none;
}
 .Infocard:hover h2 {
	 inset: auto auto 20rem 3rem;
	 transition: inset 0.3s ease-out;
}
 .Infocard:hover p, .Infocard:hover a {
	 opacity: 1;
	 transition: opacity 0.5s 0.1s ease-in;
}
 .Infocard:hover img {
	 transition: opacity 0.3s ease-in;
	 opacity: 1;
}

    @media screen and (max-width:600px){
        .info-card-container {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
        }

        .Infocard h2 {
            position: absolute;
            inset: auto auto 5rem 1rem;
            margin: 0;
            transition: inset 0.3s 0.3s ease-out;
            font-weight: normal;
            color: #ffffff;
            text-transform: uppercase;
        }
        .Infocard:hover h2 {
            inset: auto auto 15rem 1rem;
            transition: inset 0.3s ease-out;
        }
         .Infocard p {
            inset: auto auto 10rem 1rem;
            text-align: left;
        }
    }

        @media screen and (max-width:1300px) and (min-width:600px){
        .info-card-container {
            grid-template-columns: repeat(2, 1fr);
        }

        .Infocard h2 {
            position: absolute;
            inset: auto auto 5rem 1rem;
            margin: 0;
            transition: inset 0.3s 0.3s ease-out;
            font-weight: normal;
            color: #ffffff;
            text-transform: uppercase;
        }
        .Infocard:hover h2 {
            inset: auto auto 15rem 1rem;
            transition: inset 0.3s ease-out;
        }
         .Infocard p {
            inset: auto auto 8rem 1rem;
            text-align: left;
        }
    }

{%- endstyle -%}

<div class ="info-card-container">
  <div class = "Infocard">
    <img src="{{'INFOCARD1.jpg' | asset_img_url: '1200x' }}" alt="IMAGE DESCRIPTION">
    <div class="card-content">
      <h2>
        Inspiration
      </h2>
      <p>
        We have come a long way and we still have a ways to go. We promote a safe space where people feel confident to share ideas and feedback to inspire the team to grow.
      </p>
    </div>
  </div>
    <div class = "Infocard">
    <img src="{{'INFOCARD2.JPG' | asset_img_url: '1200x' }}" alt="IMAGE DESCRIPTION">
    <div class="card-content">
      <h2>
        Inclusiveness
      </h2>
      <p>
        We are a team and work together. We put our best foot forward, take pride in the work we do, and support each other.
      </p>
    </div>
  </div>
    <div class = "Infocard">
    <img src="{{'INFOCARD3.jpg' | asset_img_url: '1200x' }}" alt="IMAGE DESCRIPTION">
    <div class="card-content">
      <h2>
        Integrity
      </h2>
      <p>
        We do not always need to be asked to fix the simple things. If something is out of place, we take the extra second to make it right.
      </p>
    </div>
  </div>
      <div class = "Infocard">
    <img src="{{'INFOCARD4.jpg' | asset_img_url: '1200x' }}" alt="IMAGE DESCRIPTION">
    <div class="card-content">
      <h2>
        Inspiration
      </h2>
      <p>
        We have come a long way and we still have a ways to go. We promote a safe space where people feel confident to share ideas and feedback to inspire the team to grow.
      </p>
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "Info Card",
        "tag": "section",
        "class": "section-inf-card", 
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Featured collection",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "IMAGE 1"
            },
            {
                "type": "select",
                "id": "heading_colour",
                "options": [
                    {
                    "value": "white",
                    "label": "White"
                    },
                    {
                    "value": "black",
                    "label": "Black"
                    }
                ],
                "default": "white",
                "label": "Heading Colour"
                },
            {
                "type": "select",
                "id": "body_colour",
                "options": [
                    {
                    "value": "white",
                    "label": "White"
                    },
                    {
                    "value": "black",
                    "label": "Black"
                    }
                ],
                "default": "white",
                "label": "Body Colour"
                },
            {
                "type": "textarea",
                "id": "Body",
                "default": "Featured collection",
                "label": "Body text"
            }
        ],
        "presets": [
            {
            "name": "Info Card"
            }
        ]
    }
{% endschema %}