<script>
    var windowSize = window.outerWidth;
    if (windowSize <=750) {
    {% assign rowSize = 2%}
    } else {
     {% assign rowSize = 4%}
    }
</script>
<style>
    .small-product-card{
        transform: scale(0.9);
    }
    .new-arrival-grid-container{
        width: 100%;
        justify-content:center;
        align-items:center;
    }
    .new-arrival-grid-row-1{
        margin: 0px;
        padding: 5px;
        text-align: center;
        grid-auto-flow: row;
        display:flex;
        width:100%;
        list-style-type:none;
        justify-content: center;
    }
    @media screen and (max-width: 750px){
        .new-arrival-grid-row-1{

        }
    }
</style>

    <div>
        {{section.settings.title}}
    </div>
    <div class = "new-arrival-grid-container">
        <ul class = "new-arrival-grid-row-1">
            {%for product in section.settings.collection.products limit:rowSize %}
                <li id= "item" class = "small-product-card">
                    {%render 'card-product', card_product:product %}
                </li>
            {%endfor%}
            
        </ul>
        <ul class = "new-arrival-grid-row-1">
            {%for product in section.settings.collection.products limit:rowSize offset:continue %}
                <li class = "small-product-card">
                    {%render 'card-product', card_product:product %}
                </li>
            {%endfor%}
        </ul>
    </div>


{% schema %}
    {
        "name": "New Arrival Grid",
        "tag": "section",
        "class": "section-new-arrival-grid",
        "settings": [
            {
            "type": "collection",
            "id": "collection",
            "label": "collection"
            },
            {
            "type": "text",
            "id": "title",
            "default": "Featured collection",
            "label": "Title"
            }
        ],
        "presets": [
            {
            "name": "new-arrival-grid"
            }
        ]
    }
{% endschema %}