
<style>
    .release-blog-list-title{
        font-size:4rem;
        font-weight: 200;
        line-height: 1.15;
        color: #545454;
        padding-bottom:10px;
        padding-top:20px;
        padding-left:1.5vw;
    }
    .release-blog-list-container{
        width:100%;
        display:flex;
        flex-direction:column;
    }
    .release-list-container{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 20px;
        padding:1.5vw;;  
    }
    .release-entry{
        display:flex;
        flex-direction:column;
        border-color: rgb(190, 190, 190);
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
    }
    .release-entry-image{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:left;
        font-size:1.5rem;
    }

     .release-entry-image img{
        width:90%;
        }
    .release-entry-content{
        width:90%;
        display:flex;
        flex-direction: column;
        align-self:center;
        font-size:1.5rem;
        align-items:center;
    }

    @media only screen and (min-width:739px){
        .release-list-container{
            display: grid;
            grid-template-columns: repeat(2, 3fr);
            gap: 1em;  
        }
        .next-release-image-container img{
            width:60%;
        }
        .next-release-title{
            font-size:5rem;
            font-weight: 300;
            line-height: 1.15;
            padding-left:1.7vw;
        }
        .next-release-content{
            padding-left:1.7vw;
            font-size:2.5rem;
        }
        .next-release-content p{
            margin:0;
        }    
    }
    @media only screen and (min-width:1439px){
        .release-list-container{
            display: grid;
            grid-template-columns: repeat(3, 3fr);
            gap: 1em;  
        }
        .release-blog-list-title{
            font-size:5rem;
        }
    }
</style>
<div class="release-blog-list-container">
    <div class = "release-blog-list-title"> {{section.settings.heading}}</div>
    <div class= "release-list-container" id="release-list-container">

    </div>
</div>

<script>
    var unformattedArticles = {{ section.settings.blog.articles | json }};
    var articles = []
    const currentDateList = new Date();

    for (var i = 0; i < 50; i++) {
        if (unformattedArticles[i].tags.includes("%")){
            var releaseDateTagList = unformattedArticles[i].tags.split("%")[1]
            var releaseDateList = new Date(releaseDateTagList)
            if (releaseDateList > currentDateList){
                entry = {article: unformattedArticles[i] , date: releaseDateList}
                articles.push(entry)
            }
        }
    }
    articles.sort((a,b)=> a.date - b.date)
    
    let releaseListContainer = document.getElementById("release-list-container")

    for (article in articles){

        let releaseEntry = document.createElement("div");
        releaseEntry.className = "release-entry";

        let releaseImage = document.createElement("div")
        releaseImage.className = "release-entry-image"

        let releaseImageSrc = document.createElement("img")
        releaseImageSrc.src = articles[article].article.image.src

        releaseImage.appendChild(releaseImageSrc)
        releaseEntry.appendChild(releaseImage)

        let releaseDesc = document.createElement("div")
        releaseDesc.className = "release-entry-content"
        
        let releaseExcerpt = document.createElement("div")
        releaseExcerpt.innerHTML = articles[article].article.summary_html

        let releaseBody = document.createElement("div")
        releaseBody.innerHTML = articles[article].article.body_html

        releaseDesc.appendChild(releaseExcerpt)
        releaseDesc.appendChild(document.createTextNode(articles[article].article.title))
        releaseDesc.appendChild(releaseBody)

        releaseEntry.appendChild(releaseDesc)
        releaseListContainer.appendChild(releaseEntry)
        console.log(articles[article].article)

        
    }
    
</script>
{% schema %}
{
  "name": "release blog list",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    }
  ],
  "presets": [
            {
            "name": "Releases"
            }
        ]
}
{%endschema%}