  {% style %}
  .sticky-glossary{
    background-color:#E6E6E6;
    position:fixed;
    left:0;
    width: 10%;
    z-index:1;
  }
  {% endstyle %}
  <div class="sticky-glossary">
    
<a href="#GenQ"> HELLO</a>
  </div>
  
  {% schema %}
  {
  "name": "Sticky GLossary",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headingName",
      "label": "Name of the Heading",
      "default":"Heading Name"
    },
    {          
      "type": "text",
      "id": "hTagID",
      "label":"link Tag",
      "default":"HName"}
  ], 
 "blocks": [
    {
      "type": "text",
      "name": "Sub Collapsible",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Section Name",
          "default": "Section Title"
        },
        {
          "type": "text",
          "id": "sTagID",
          "label":"link Tag",
          "default":"SName"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "Contents"
        },
        {
          "type": "image_picker",
          "id": "imageSelect",
          "label": "Add an Image"
        },
      ]
      
    }
  ],
  "presets": [
      {
      "name": "Sticky Glossary" 
      }
  ]
}
  {%- endschema -%}